.wrap{
	margin: 20px auto;

}
.header{
	height: 100px;
	padding: 2px 10px;
	background-image: url('bgb.jpg');
}
h1{
	
	height: 65px;
	font-size: 48px;
	color: white;
	padding: 2px;
	text-shadow: 
	1px 1px 0 red,
	2px 2px 0 pink,
	3px 3px 0 purple,
	4px 4px 0 yellow,
	5px 5px 0 blue;
}
.sidebar{
	height: 450px;
	float:left;
	width: 25%;
	background-color:#66A5AD;
}
.main{
	background: rgba(196,222,246,0.6);
	float: left;
	width: 75%;	
	height: 450px;
}
.clear{
	clear: both;
}
.footer{
	padding: 10px;
	background: #e9f8f9;
	background-size: 100% 100%; 
}

body{
	background: url('bgbody.jpg') no-repeat scroll;
	background-size: 100% 100%;
}
ul{
	list-style-type:none; margin:0; padding:0;
	overflow:hidden;
}
li{
	float:left;
}
a:link,a:visited{
	display:block; font-weight:bold;
	color:#ece1e1; background-color:#06253a;
	padding:6px;
	width:321px; text-align:center;
	border-spacing: 2px;
	text-decoration:none;
	text-transform:uppercase;
}
a:hover,a:active{
	background-color:#2fd4a7;
}